.spacer {
  height: 100vh;
  //   color: white;
  padding: 15rem 5rem;
  max-width: 70rem;
  view-timeline-name: --spacer;

  h2,
  p {
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.178);
    background-clip: text;
    background-image: linear-gradient(90deg, white, white);
    backface-visibility: hidden;
  }

  h2 {
    font-weight: 400;
    font-size: 2.6rem;
    width: fit-content;
    animation: showText linear both;
    animation-timeline: view(block);
    animation-range: cover 20% cover 30%;
  }
  p {
    display: inline;
    font-size: 1.6rem;
    animation: showText linear both;
    animation-timeline: view(block);
    animation-range: cover 30% cover 60%;
  }
}

@keyframes showText {
  0% {
    // background-image: linear-gradient(
    //   90deg,
    //   white 0%,
    //   rgba(255, 255, 255, 0.329) 0%
    // );
    // background-color: red;
    // background-image: linear-gradient(90deg, red 0%, blue 0%);
    background-size: 0% 100%;
  }
  100% {
    // background-image: linear-gradient(
    //   90deg,
    //   white 100%,
    //   rgba(255, 255, 255, 0.329) 100%
    // );
    // background-color: blue;
    // background-image: linear-gradient(90deg, red 100%, blue 100%);
    // background-image: linear-gradient(90deg, red 0%, blue 00%);
    // font-size: 4rem;
    background-size: 100% 100%;
  }
}
