<div class="wrapper">
  <div class="sticky">
    <div class="grid">
      @for (faker of fakers; track $index) {
      <img
        [src]="faker.src.medium"
        [alt]="faker.alt"
        [id]="faker.id"
        class="item"
      />
      }

      <div class="container">
        <div class="title">adipisicing</div>
        <div class="subtitle">nobis explicabo magni ab</div>
      </div>
      <div class="container">
        <div class="title">officia laboriosam</div>
        <div class="subtitle">eos atque cumqu</div>
      </div>
      <div class="container">
        <div class="title">cumque iste</div>
        <div class="subtitle">repellat eum vel</div>
      </div>
    </div>
  </div>
</div>
