@mixin animationItem {
  animation: slideInSection1 ease-out both;
  animation-timeline: --section__two;
  animation-range: contain 0% contain var(--contain);
}

@mixin animationTitle {
  animation: slideTitle ease-out both;
  animation-timeline: --section__two;
  animation-range: contain var(--contain-start) contain var(--contain-end);
}

.wrapper {
  height: 300vh;
  padding: 2rem;
  position: relative;
  view-timeline-name: --section__two;

  .sticky {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: sticky;
    transform: translate(0, 0);
  }

  .grid {
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50vh 5rem;
    column-gap: 1rem;
    row-gap: 2rem;
  }

  .container {
    color: #fff;

    &:nth-child(6) {
      --translate-item: 0 3rem;
      --contain-start: 53%;
      --contain-end: 90%;
      grid-column: 1;
      @include animationTitle;
    }
    &:nth-child(7) {
      --translate-item: 0 3rem;
      --contain-start: 0%;
      --contain-end: 25%;
      grid-column: 3;
      @include animationTitle;
    }
    &:nth-child(8) {
      --translate-item: 0 3rem;
      --contain-start: 53%;
      --contain-end: 90%;
      grid-column: 5;
      @include animationTitle;
    }
  }

  .title {
    text-transform: uppercase;
    font-size: 2.4rem;

    @media (max-width: 1400px) {
      font-size: 2rem;
    }
  }
  .subtitle {
    font-size: 1.6rem;
    @media (max-width: 1400px) {
      font-size: 1.4rem;
    }
  }

  .item {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .item:nth-child(1) {
    --range: translate3d(0, 113vh, 0.1px) rotate(3.4deg);
    --contain: 88%;

    @include animationItem;
  }

  .item:nth-child(2) {
    --range: translate3d(0, 107vh, 0.1px) rotate(2.3deg);
    --contain: 58%;

    @include animationItem;
  }

  .item:nth-child(3) {
    --range: translate3d(0, 100vh, 0.1px) rotate(-0.5deg);
    --contain: 20%;

    @include animationItem;
  }

  .item:nth-child(4) {
    --range: translate3d(0, 107vh, 0.1px) rotate(-2.3deg);
    --contain: 58%;

    @include animationItem;
  }

  .item:nth-child(5) {
    --range: translate3d(0, 113vh, 0.1px) rotate(-3.4deg);
    --contain: 88%;

    @include animationItem;
  }
}

@keyframes slideInSection1 {
  from {
    transform: var(--range);
    background-color: blue;
  }
  to {
    translate: 0 0;
    rotate: 0;
    background-color: rgb(230, 230, 230);
  }
}

@keyframes slideTitle {
  from {
    translate: var(--translate-item);
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}
