* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 16px
  font-family: "Oranienbaum", serif;
}

body {
    background-color: rgb(20, 20, 20);
}